PUID=1000
PGID=1000
lidarr_address=http://lidarr:8686
lidarr_api_key=
lidarr_api_timeout=120
navidrome_address=
navidrome_user=
navidrome_token_or_password=
clip_output_mode=clips_lane
clip_output_path=/lidaclips/clips
staging_path=/lidaclips/staging
minimum_clip_score=75
max_resolution=1080
preferred_container=mp4
search_limit=10
sync_schedule=
api_key=
ytdlp_binary=
