PUID=1000
PGID=1000
lidarr_address=http://lidarr:8686
lidarr_api_key=
lidarr_api_timeout=120
navidrome_address=
navidrome_user=
navidrome_token_or_password=
clip_output_mode=clips_lane
clip_output_path=/lidaclips/clips
staging_path=/lidaclips/staging
minimum_clip_score=75
minimum_fallback_score=60
upgrade_min_score_delta=10
max_resolution=1080
preferred_container=mp4
search_limit=10
youtube_po_provider=off
youtube_po_provider_url=http://lidaclips-pot:4416
youtube_player_clients=mweb,default
youtube_enable_hls_fallback=true
sync_schedule=
sync_artist_allowlist=
max_targets_per_run=25
download_enabled=false
api_key=
ytdlp_binary=
